#map {
    height: 100%;
    z-index: 0;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 270px;
}


@media screen and (min-width: 501px) {
    html, body  {
        min-width:1000px;
        min-height: 500px;
    }
    div.information,div.side-bar {
        min-height: 500px;
    }
}

