#map {
    height: 100%;
    z-index: 0;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#pano{
    width: 260px;
    height: 260px;
}

#info_title{
    width: 260px;
    text-align: center;
    font-size: 1.3em;
}