div.nearby {
    width: 100%;
    height: auto;
    padding: 0 0 10px 0;
}

div.food {
    padding: 5px 10px;
    border-top: 1px grey solid;
}

div.food:last-child {
    border-bottom: 1px grey solid;
}

div.food-photo img {
    width: 100%;
}

div.food-rating {
    height: 100%;
    padding: 5px 0;
}

div.food-rating div {
    display: inline-block;
    line-height: 30px;
    height: 30px;
    padding: 0 3px;
}

div.rating {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    vertical-align: middle;
}

div.food-address {
    padding-bottom: 3px;
}

div.food span {
    max-width: 50vw;
}
