html,
body {
    width: 100%;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
}

#nav {
    width: 96%;
    padding: 0;
    left: 2%;
    min-width: 270px;

}

div.input-address-container {
    width: 83%;
}

input#input {
    width: 78%;
    font-size: 1.1em;
}

.glyphicon{
    font-size: 1.5em;
    width: 100%;
    text-align: center;
}

#search {
    width: 20%;
}

div.container-button-burger {
    width: 15%;
}



.btn-glyph {
    width: 100%;
    padding:0;
}

button.btn-glyph img {
    width: 25px;
}

div.button-nav-container,
div.seperator {
    display: none;
}

div.information {
    width: 100%;
    height:100%;
}

div#nav_close {
    display: none;
}

div#street_view {
    width: 100%;
    height: 150px;
}

table.button-group-table td {
    width: calc((100% - 10px) / 3);
}

div#nav_close_sm {
    display: block;
    background-color:rgb(66, 133, 244) ;
    vertical-align: bottom;
}

div#nav_close_sm img {
    height: 45px;
    width: 45px;
    font-size: 1.2em;
}

div#side-bar-slide {
    display: none;
}

div.side-bar {
    width: 100%;
    height: 100%;
}

div.side-bar>div {
    padding-left: 10px;
}

div.input-route {
    width: 80%;
}

div.input-route-buttons {
    width: 19%;
    right: 0;
}
div.input-route-buttons img {
    margin: 0 auto;
}

div.prediction,
#result li div.prediction {
    width: calc(100% - 50px);
}

div.menu {
    width: 100%;
}

div.menu_background_open {
    display: none;
}


div.btn-menuClose {
    display: block;
    background-color: rgb(66, 133, 244);
    width: 100%;
    height: 50px;
    position: absolute;
    top:calc(100% - 100px);
}

div.savedLocations {
    height: 100%;
    max-height: calc(100% - 140px);
}

div.prediction {
    width: calc(100% - 46px);
}

div.mode img {

}